/* 
// ─────────────────────────────────────────────────────────────────────────────
// GLOBAL STYLES
// Core stylesheet containing CSS variables, dark mode styles, base element
// styling, typography rules, utility classes, component styles, navigation,
// footer, and other repeated section styles for the entire site
// ───────────────────────────────────────────────────────────────────────────── 
*/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #e63946;
  --color-primary-light: #e46671;

  --color-complementary: #1d3557;
  --color-body-text: #0f0f0f;
  --color-body-text-light: #f1faee;
  --color-header-text: #0f0f0f;
  --color-header-text-light: #f1faee;
  --color-highlight: #457b9d;
  --color-highlight-light: #a8dadc;

  --dark: #0f1d30;
  --secondary: #1d3557ff;
  --accent: #457b9dff;

  --header-font: "Roboto", Arial, Helvetica, sans-serif;
  --body-font: "Roboto", Arial, Helvetica, sans-serif;

  /* 13px - 16px */
  --topper-font-size: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --header-font-size: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --body-font-size: 1rem;

  --header-logo-scale-factor: 186; /* decreasing/increasing this value will decrease/increase max size of the header logo */
  /* 60px - 100px top and bottom */
  --section-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --section-max-width: 1100; /*do not include units*/
}

html,
body {
  font-family: var(--body-font);
  font-size: 100%; /* unsure why this is necessary */
  color: var(--color-body-text);
}

/* Utility Classes */
.topper {
  font-size: var(--topper-font-size);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--color-primary);
  margin-bottom: 0.25rem;
  display: block;
}

.title {
  font-size: var(--header-font-size);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--color-header-text);
  position: relative;
}

.text {
  font-size: var(--bod-font-size);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--color-body-text);
}

.bold {
  font-weight: 700;
}

.hide-on-mobile {
  display: none;
}

.hide-on-desktop {
  display: block;
}

/* Desktop Utility Classes */
@media only screen and (min-width: 64rem) {
  .hide-on-mobile {
    display: block;
  }

  .hide-on-desktop {
    display: none;
  }
}

/* Base Element Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  line-height: 1.2em;
  color: var(--color-complementary);
}

p,
li,
a {
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.5em;
  color: var(--color-body-text);
}

a,
button {
  &:hover {
    cursor: pointer;
  }
}

body.dark-mode {
  background-color: var(--dark);

  p,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-body-text-light);
  }
}

/* ******************* */
/*        FONTS        */
/* ******************* */

/* roboto-regular - latin */
@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 400;
  font-display: swap;
  src:
    local(""),
    url("./assets/fonts/roboto-v29-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v29-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  font-display: swap;
  src:
    local(""),
    url("./assets/fonts/roboto-v29-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v29-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin */
@font-face {
  font-style: normal;
  font-family: "Roboto";
  font-weight: 900;
  font-display: swap;
  src:
    local(""),
    url("./assets/fonts/roboto-v29-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./assets/fonts/roboto-v29-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* ******************* */
/*  COMPONENTS & UTILS */
/* ******************* */
@media only screen and (min-width: 0rem) {
  .button-solid {
    z-index: 1;
    position: relative;
    display: inline-block;
    background-color: var(--color-primary);
    width: auto;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1em;
    font-weight: bold;
    border-radius: 0.25rem;
    overflow: hidden;
    color: var(--color-body-text-light);
    transition: color 0.3s;
    transition-delay: 0.1s;
    text-align: center;
  }
  .button-solid:hover {
    color: #fff;
  }
  .button-solid:hover:before {
    width: 100%;
  }
  .button-solid:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background-color: var(--color-complementary);
    height: 100%;
    width: 0;
    transition: width 0.3s;
  }
  .button-outline {
    z-index: 1;
    position: relative;
    display: inline-block;
    width: auto;
    padding: 1rem 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1em;
    font-weight: bold;
    border: 2px solid #000;
    color: #000;
    transition: color 0.3s;
    transition-delay: 0.1s;
    text-align: center;
  }
  .button-outline:hover {
    color: #fff;
  }
  .button-outline:hover:before {
    width: 100%;
  }
  .button-outline:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 1;
    display: block;
    background-color: #000;
    height: 100%;
    width: 0;
    transition: width 0.3s;
  }
}

/* ****** */
/* HEADER */
/* ****** */
header {
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 10000;

  &.fixed {
    position: fixed;
  }

  &.sticky {
    position: sticky;
  }

  .container {
    width: 100%;
    max-width: calc(1280 / 16 * 1rem);
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: calc(24 / 16 * 1rem);
  }

  .logo {
    width: 40%;
    max-width: calc(var(--header-logo-scale-factor) / 16 * 1rem);
    height: 100%;
    margin: 0 auto 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    img {
      width: 100%;
      height: 100%;
      /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
      object-fit: contain;
      /* places the image to the left edge of the parent */
      object-position: left;
    }
  }

  nav ul {
    width: auto;
    min-width: 40%;
    height: 65vh;
    margin: 0;
    padding: 3rem clamp(1.75rem, 3vw, 2.5rem) 2rem 4.375rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1.25rem;
  }

  nav li {
    list-style: none;
    margin-bottom: calc(16 / 16 * 1rem);
    &:last-of-type {
      margin-bottom: 0;
    }
    .li-link {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      line-height: 1.5em;
      color: var(--color-header-text);
      cursor: pointer;
      display: inline-block;
      position: relative;

      &:before {
        /* active state underline */
        content: "";
        width: 100%;
        height: 1px;
        background-color: currentColor;
        opacity: 1;
        display: none;
        position: absolute;
        bottom: calc(-2 / 16 * 1rem);
        left: 0;
      }

      &.active {
        &:before {
          display: block;
        }
      }
    }
  }
}

/* ******************* */
/*     MOBILE MENU     */
/* ******************* */
@media only screen and (max-width: 1023.5px) {
  header {
    nav .ul-wrapper {
      height: 100vh;
      background-color: #ffffff;
      box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
      opacity: 0;
      position: absolute;
      top: 100%;
      right: 0;
      left: auto;
      z-index: -1;
      overflow: hidden;
      transform: scaleX(0);
      transition:
        transform 0.4s,
        opacity 0.3s;
      transform-origin: top right;
    }

    nav ul {
      overflow: scroll;
    }

    nav li {
      text-align: right;
      width: 100%;
      opacity: 0;
      transform: translateX(-2.5rem);
      transition:
        transform 0.6s,
        opacity 0.9s;

      .li-link {
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        line-height: 1.2em;
        display: inline-block;
        position: relative;
      }
    }

    nav li:nth-of-type(1) {
      transition-delay: 0.05s;
    }

    nav li:nth-of-type(2) {
      transition-delay: 0.1s;
    }

    nav li:nth-of-type(3) {
      transition-delay: 0.15s;
    }

    nav li:nth-of-type(4) {
      transition-delay: 0.2s;
    }

    nav li:nth-of-type(5) {
      transition-delay: 0.25s;
    }

    nav li:nth-of-type(6) {
      transition-delay: 0.3s;
    }

    nav li:nth-of-type(7) {
      transition-delay: 0.35s;
    }

    nav li:nth-of-type(8) {
      transition-delay: 0.4s;
    }

    nav li:nth-of-type(9) {
      transition-delay: 0.45s;
    }

    .hamburger {
      /* 44px - 48px */
      width: clamp(2.75rem, 6vw, 3rem);
      height: clamp(2.75rem, 6vw, 3rem);
      margin: 0 0 0 auto;
      background-color: transparent;
      border: none;
      border-radius: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;

      .box {
        /* 24px - 28px */
        width: clamp(1.5rem, 2vw, 1.75rem);
        /* 14px - 16px */
        height: clamp(0.875rem, 1.5vw, 1rem);
        position: relative;
      }

      .line {
        width: 100%;
        height: 2px;
        background-color: #1a1a1a;
        border-radius: 2px;
        transition: transform 0.5s ease;
        display: block;
        position: absolute;
      }

      .line1 {
        top: 0;
      }

      .line2 {
        top: 50%;
      }

      .line3 {
        top: 100%;
      }
    }

    .button-solid {
      display: none;
    }
  }

  header::before {
    /* black blurred overlay */
    content: "";
    width: 0%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -11;
    transition:
      width 0.5s,
      opacity 0.3s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  header.active::before {
    width: 100%;
    opacity: 1;
  }

  header.active {
    nav .ul-wrapper {
      opacity: 1;
      transform: scaleX(1);
      transition-delay: 0.2s;
    }

    nav li {
      opacity: 1;
      transform: translateX(0);
    }

    .hamburger {
      .line1 {
        transform: rotate(45deg);
        top: 50%;
      }
      .line2 {
        transform: scale(0);
      }
      .line3 {
        transform: rotate(-45deg);
        top: 50%;
      }
    }
  }
}

/* ******************* */
/* NAVIGATION DROPDOWN */
/* ******************* */
@media only screen and (max-width: 1023.5px) {
  header {
    nav li.dropdown {
      color: var(--color-body-text-light);
      position: relative;

      .li-link {
        position: relative;
      }

      .drop-icon {
        width: 0.9375rem;
        height: auto;
        position: absolute;
        top: 50%;
        right: -1.25rem;
        transform: translateY(-50%);
      }
    }
  }
}

@media only screen and (min-width: 64rem) {
  header {
    nav li.dropdown {
      position: relative;
      .li-link {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
      }
    }

    .drop-icon {
      width: 1rem;
      height: auto;
      display: inline-block;
    }
  }
}

/* ******************* */
/*       DESKTOP       */
/* ******************* */
@media only screen and (min-width: 64rem) {
  header {
    padding: 0 1rem;
    .hamburger {
      display: none;
    }

    nav ul {
      width: 100%;
      height: 100%;
      padding: 0;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1.25rem, 2.6vw, 2.25rem);
    }
    nav li {
      padding: 2rem 0;
      margin: 0;

      .li-link {
        /* 14px - 16px */
        font-size: clamp(0.875rem, 1vw, 1rem);
        line-height: 1.5em;
        text-decoration: none;
        margin: 0;
        color: var(--color-body-text);
        display: block;
        position: relative;

        &:hover {
          &:before {
            width: 100%;
          }
        }

        &.active {
          &:before {
            width: 100%;
          }
        }

        &:before {
          /* active state underline */
          width: 0%;
          height: 2px;
          background: var(--color-primary);
          display: block;
          bottom: calc(0 / 16 * 1rem);
          transition: width 0.3s;
        }
      }
    }
  }
}

/* ******************* */
/*         CTA         */
/* ******************* */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cta {
    padding: var(--section-padding);
    position: relative;

    .container {
      width: 100%;
      max-width: calc(1280 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }

    .content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .title {
      color: var(--color-header-text-light);
    }

    .text {
      margin-bottom: calc(16 / 16 * 1rem);
      color: var(--color-body-text-light);
      opacity: 0.8;
      &:last-of-type {
        margin-bottom: calc(32 / 16 * 1rem);
      }
    }

    .picture {
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      z-index: -1;

      &:before {
        /* black color overlay */
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.8;
        top: 0;
        left: 0;
        z-index: 1;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

/* ******************* */
/*       FOOTER        */
/* ******************* */

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer {
    padding: var(--section-padding);
    background-color: var(--dark);

    .container {
      width: 100%;
      max-width: calc(540 / 16 * 1rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 32px - 48px */
      gap: clamp(2rem, 4.5vw, 3rem);
    }

    .logo-container {
      /* Takes up all the space, other ULs wrap below */
      width: 100%;
      position: relative;
    }

    .logo {
      /* 210px - 240px */
      width: clamp(13.125rem, 8vw, 15rem);
      height: auto;
      display: block;
      margin: 0 auto;
      /* 28px - 44px */
      margin-bottom: clamp(1.75rem, 4.17vw, 2.75rem);
    }

    .logo-img {
      width: 100%;
      height: auto;
    }

    .social-container {
      width: 45%;
      display: flex;
      justify-content: space-between;
      gap: calc(12 / 16 * 1rem);
    }

    .social-link {
      width: calc(24 / 16 * 1rem);
      height: calc(24 / 16 * 1rem);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition: transform 0.3s;

      &:hover {
        transform: translateY(-0.1875rem);
      }
    }

    .social-img {
      height: 100%;
      width: auto;
      display: block;
    }

    /* Navigation Links */
    .link-container {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 4rem;
    }

    .nav {
      padding: 0;
      margin: 0;
    }

    .nav-li {
      list-style: none;
      margin-bottom: calc(16 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .header {
      font-size: calc(16 / 16 * 1rem);
      line-height: 1.5em;
      font-weight: 700;
      color: var(--color-body-text-light);
      position: relative;

      &:after {
        content: "";
        width: calc(32 / 16 * 1rem);
        height: calc(4 / 16 * 1rem);
        margin: calc(16 / 16 * 1rem) auto calc(24 / 16 * 1rem) 0;
        background: var(--color-primary);
        opacity: 1;
        position: relative;
        display: block;
      }
    }

    .nav-link {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      line-height: 1.5em;
      color: var(--color-body-text-light);
      position: relative;

      &:before {
        /* underline */
        content: "";
        width: 0%;
        height: calc(2 / 16 * 1rem);
        background: var(--color-body-text-light);
        opacity: 1;
        position: absolute;
        display: block;
        bottom: calc(-2 / 16 * 1rem);
        left: 0;
        transition: width 0.3s;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }

    /* Contact Links */
    .contact {
      margin: 0;
      padding: 0;
      width: 45%;
    }

    .contact-li {
      list-style: none;
      margin-bottom: calc(0 / 16 * 1rem);
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .contact-link {
      font-size: calc(16 / 16 * 1rem);
      text-decoration: none;
      line-height: 1.5em;
      text-align: left;
      color: var(--color-body-text-light);
      display: inline-block;

      &:hover {
        text-decoration: underline;
      }
    }

    .address {
      font-size: calc(16 / 16 * 1rem);
      margin-bottom: calc(20 / 16 * 1rem);
    }

    .copyright {
      margin-top: 1rem;
      text-align: center;
    }

    .text {
      color: var(--color-highlight-light);
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer {
    .container {
    }

    .contact {
      flex-direction: row;
      justify-content: space-between;
      border-top: none;
    }

    .contact-li {
      margin: 0;
    }
  }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #footer {
    .container {
      max-width: calc(var(--section-max-width) / 16 * 1rem);
      height: 100%;
      display: grid;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto auto 1fr auto;
      grid-template-areas:
        "logo links contact"
        "social links contact"
        ". links contact"
        "copy copy copy";
      align-items: start;
      justify-items: center;
    }

    .logo-container {
      grid-area: logo;
      justify-self: flex-end;
    }

    .logo {
      margin-left: 0;
    }

    .link-container {
      grid-area: links;
      gap: 5rem;
    }

    .social-container {
      width: 100%;
      grid-area: social;
      justify-content: flex-start;
      justify-self: flex-end;
      gap: 3rem;
    }

    .contact {
      grid-area: contact;
    }

    .copyright {
      grid-area: copy;
    }

    .text {
      width: 100%;
    }
  }
}
